* {
    margin: 0;
    padding: 0;
}



header{
    grid-column:  1/5;
}

body {
    display: grid;
    grid-template-columns: auto auto auto 200px ;
    grid-template-rows: 150px 250px 250px 250px 100px;
    max-width: 1000px;
    margin: auto;
}

nav {
    background-color: #000000;
    padding: 5px;
    overflow: hidden;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
}

.navbar-brand, .nav-link, .dropdown-item{
    color: #fff;
}


nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}


nav ul li a:hover {
    background-color: #75acec;
    padding: 10px 20px; 
}

main {
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/6;
    background-color: #fff;
    margin: 1%;
}

main p {
    margin: 5px 20px 0px 20px;
}

aside {
    margin: 1%;
    grid-column: 4/5;
    grid-row: 2/6;
    text-align: center;
    background-color: #1100ff;
}

aside h3 {
    font-size: small;
}

aside h3, img {
    margin: 10px;
}

footer {
    background-color: #000000;
    grid-column: 1/6;
    grid-row: 6/6;
    text-decoration-color: #fff;
    text-align: center;
    padding: 10px;
}

/*==================STYLE FOR FORM=========================================
==========================================================================================*/

body, .bodymain{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#form-cotiz-onli {
    width: 90%;
    margin: auto;
    padding: 20px;
    border: 5px solid #0a6bda;
    background-color: #6ec4fd;
}

.lab-form {
    text-align: left;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    padding: 5px;
}


input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0a6bda;
    
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

input[type="submit"] {
        margin-bottom: 0;
        padding: 20px;
        background: #0a6bda;
        color:#fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
        border: none;
    }

    input[type="submit"]:hover {
        background: #75acec;
    }

/*==============css tarjetas============================
=========================================================================================================*/

.cardd {
    position: flex;
    left: 25px;
    width: 600px;
    border: 2px solid #5c5c5c;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}
.card-img{
    width: 300px;
    height: 100px;
}

.logo {
    width: auto;
}

.btn-primary{
    margin: 10px;
}

/*==============css Nosotros============================
=========================================================================================================*/
h3 .text-historia{
    text-decoration-color: #1100ff;
text-size-adjust: 4em;
}

/*==============css Servicios============================
=========================================================================================================*/
.main-servicios{
    margin: 2px;
    padding: 20px;
    width: 100%;
}
